<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Download a file</h1>
   <form id="download_form" action="/download" method="POST">
     File Name: <input type="text" name="filename" placeholder="Enter file name"><br><br>
{#	 File version number:<input type="text" name="version number" placeholder="Enter version number of the file"><br><br>#}
     <input type="submit" name="download" value="download">
   </form>
   <hr>
</body>
</html>