<!DOCTYPE html>
<html>

  <head>
    <title>login</title>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>

  <body>
  <h3>Name: Vinayak Tare</h3>
  <h4>Student ID: 1001453869</h4>
  <img src="https://s3.amazonaws.com/vin21-bucket/Photo.jpg"/>
  {{ response }}
    <div class="container" style="margin: 0 auto">
        <form action="/login" method="POST">
   <br><br>
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" >
<br><br><br>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" >
<br><br><br>
        <button class= 'btn-large' type="submit">Login</button>
        </form>

    </div>
  </body>
</html>