<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Upload a file</h1>
   <form id="upload_form" action="/showText" method="POST" enctype="multipart/form-data">
{#       File Name: <input type="text" name="filename" placeholder="Enter file name"><br><br>#}
       File Number: <input type="text" name="fileNumber" placeholder="Enter file number"><br><br>
      <input type="submit" name="showImage" value="Show File" >

   </form>
</body>
</html>